---
import { getCollection } from "astro:content";

const fanfictions = await getCollection("fanfictions");
---

<h1>Hello fujin</h1>
<ul>
  {
    fanfictions.map((fic) =>
      fic.data.locked ? (
        <li>Locked</li>
      ) : (
        <li>
          {fic.data.title} by{" "}
          {typeof fic.data.authors[0] == "object" && fic.data.authors[0].pseud}{" "}
          ({fic.data.rating})
        </li>
      )
    )
  }
</ul>
