---
import { getCollection, getEntry } from "astro:content";

const fanfictions = await getCollection("fanfictions");
---

<h1>Hello fujin</h1>
<ul>
  {
    fanfictions.map((fic) => (
      <li>
        {fic.data.title} by {fic.data.authors[0].pseud} ({fic.data.rating})
      </li>
    ))
  }
</ul>
